node_modules
dist
logs
gradlew
Dockerfile
*.properties
*.spec
*.log
*.json
*.mp4
*.png
*.html
*.csv
*.xlsx
*.pdf
*.txt
*.docx
*.meta
*.webm
*.jpg
*.jpeg
*.java
*.js
*.ts
*.svg
*.zip
*.farx
*.gradle
*.sql
*.config
*.bat
*.jar
*.ipa
*.apk
